[user]
	email = geopar@central.ntua.gr
	name = Giorgos Paraskevopoulos
[push]
	default = simple
[core]
	editor = nvim
[init]
    templatedir = ~/.git-templates
[merge]
    conflictstyle = diff3
[alias]
        a = add
        aa = add --all
        au = add --update
        f = fetch
        cp = cherry-pick
        p = pull
        ps = push
        psu = push -u origin
	co = checkout
        ci = commit -sv
        ca = commit --amend
        br = branch
        d = diff
        dc = diff --cached
        ds = diff --staged
        l = log
        lg = log --graph
        lt = log --topo-order
        lk = log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset %Cblue%G?%Creset'
        s = status
        sb = show-branch
        w = whatchanged
        gr = grep
        ls = ls-files
	unstage = reset HEAD --
        rv = revert
        rvnc = revert --no-commit


[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
    batch = false


[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    navigate = true
    side-by-side = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
