pygments
nltk>=3.2.1
numpy>=1.15.0
pytorch-ignite==0.2.0
pytorch_nlp==0.4.1
transformers>=2.0.0
requests==2.21.0
rpdb>=0.1.6
scikit_learn>=0.20.1
scipy>=1.0.0
spacy>=2.0.16
tqdm>=4.30.0
toolz==0.9.0
torch>=1.2.0
torchvision
ujson>=1.35
sentencepiece>=0.1.83
pytest==4.6.3
pytest-cov==2.7.1
flake8
validators
nox
autopep8
mypy
percol
pylint
