git+https://github.com/georgepar/pudb
black
bpython
jupyter
pygments
tqdm
pytest
pytest-cov
flake8
nox
autopep8
mypy
percol
pylint
chardet
ranger-fm
neovim
ipdb
ipython
rope
isort
mkdocs
mkdocs-material
mkdocstrings
pynvim
jupyter_client
ueberzug
Pillow
cairosvg
pnglatex
plotly
kaleido
